/* main login */

.loginWrapper {
    background-image: url(/src/assets/LoginBackground.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;
}

/* logo C{IN}EMA e texto descritivo */

.loginWrapper img {
    width: 48.75rem;
}

.loginWrapper p {
    width: 36.25rem;
    height: 14rem;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--cinza50)
}

.rightSection {
    width: 48.75rem;
    height: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}