/* card de filme */

.movie {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    max-width: 14.375rem; 
}

/* pôster do filme */

.movie img {
    width: 14.375rem;
    height: 21.25rem;
    border-radius: .5rem;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 4px 4px 0px #00000040;
}

/* título do filme */

.movie p {
    font-family: var(--roboto);
    font-size: 1.5rem;
    color: var(--texto50);
    font-weight: 500;
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
}

/* botão de 'ver sessões' */

.movie button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--callToActionSource);
    color: var(--texto50);
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}

.movie button:hover {
    background-color: var(--callToAction500);
}
