.contactContainer {
    width: 30.5rem;
    height: 45.125rem;
    background-color: var(--principal800);
    margin: 5rem auto;
    border-radius: .7rem;
}

.formHeader {
    display: flex;
    flex-direction: column;
    padding: 3rem 0 2rem 0;
    gap: 1.5rem
}

.formHeader h1 {
    font-family: var(--nunito);
    font-size: 3rem;
    font-weight: 700;
    color: var(--texto50);
    text-align: center;
}

.formHeader h2 {
    font-family: var(--roboto);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--texto50);
    text-align: center;
    line-height: 1.8rem;
}

.formInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.formInputs input {
    width: 24.375rem;
    height: 2.75rem;
}

.formInputs textarea {
    resize: none;
    width: 24.375rem;
    height: 17.5rem;
}

.formInputs input, .formInputs textarea {
    border-radius: .6rem;
    background-color: var(--principal100);
    color: #00000080;
    border: none;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: var(--roboto);
    padding: 1rem;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.submitButton {
    border-radius: .6rem;
    height: 2.75rem;
    width: 9.125rem;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: var(--cinza50);
    background-color: var(--principal400);
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}

.submitButton:hover {
    background-color: var(--principal500);
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modalContent {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: var(--complementar2-500);
    box-shadow: 0px 4px 4px 0px #00000080;
    padding: 14px 28px;
    border-radius: 1rem;
    width: 50rem;
    height: 18.125rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.modalContent h2 {
    font-family: var(--nunito);
    color: var(--cinzaBranco);
    font-weight: 700;
    font-size: 3rem;
}

.modalContent h3 {
    font-family: var(--roboto);
    color: var(--cinza50);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.modalContent p {
    font-family: var(--roboto);
    color: var(--cinza50);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.closeModal {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;
}