.contactContainer {
    width: 30.5rem;
    height: 45.125rem;
    background-color: var(--principal800);
    margin: 5rem auto;
    border-radius: .7rem;
}

.formHeader {
    display: flex;
    flex-direction: column;
    padding: 3rem 0 2rem 0;
    gap: 1.5rem
}

.formHeader h1 {
    font-family: var(--nunito);
    font-size: 3rem;
    font-weight: 700;
    color: var(--texto50);
    text-align: center;
}

.formHeader h2 {
    font-family: var(--roboto);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--texto50);
    text-align: center;
    line-height: 1.8rem;
}