/* container de introdução da home */

.introduction {
    height: 16.875rem;
    background-image: url(/src/assets/IntroducaoHome.jpg);
    background-size: cover;
    background-position: center;
}

.introductionText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    padding-left: 4rem;
}

/* título da introdução */

.introduction h1 {
    font-family: var(--nunito);
    color: var(--cinzaBranco);
    font-weight: 700;
    font-size: 3rem;
    width: 58rem;
    line-height: 3.5rem;
}

/* texto da introdução */

.introduction p {
    font-family: var(--roboto);
    color: var(--cinzaBranco);
    font-size: 1.5rem;
    font-weight: 500;
}