/* assento selecionado */

.selectedSeat {
    width: 13.75rem;
    height: 7.938rem;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.selectedSeat > h3 {
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 1rem;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: .3rem;
}

.selectedSeat > label {
    font-size: 1rem;
    font-family: var(--roboto);
    font-weight: 400;
    color: black;
    padding-top: .5rem;
    padding-bottom: .2rem;
}

.selectedSeat > input {
    background-color: var(--cinza50);
    border: none;
    border-radius: 2px;
    border-left: 5px solid var(--principalSource);
    padding: 0 4px;
    font-family: var(--roboto);
}