/* container do swiper */

.popcornSwiper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem 3rem;
    width: 100%;
}

/* slide individual */

.slide {
    width: 100%; 
    height: auto; 
    position: relative;
}

.slideImage {
    width: 100%;
    height: auto;
    max-height: 32.5rem; 
    object-fit: contain;
}

/* botões de passar e voltar */

.prevButton, .nextButton {
    background: none; 
    border: none; 
    cursor: pointer; 
}