/* container de login */

.loginBox {
    width: 28rem;
    height: 37.5rem;
    background-color: var(--principal800);
    box-shadow: 0px 4px 4px 0px #00000080;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* cabeçalho do login */

.loginHeader {
    width: 24.375rem;
    height: 10.5rem;
}

.loginHeader h2 {
    text-align: center;
    font-family: var(--nunito);
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.063rem;
    color: var(--texto50);
    padding-bottom: 1.5rem;
}

.loginHeader h3 {
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: var(--texto50);
}

/* inputs de login */

.loginInputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-bottom: 2px solid var(--cinza50);
}

.loginInputs input {
    width: 24.375rem;
    height: 2.75rem;
    border-radius: .8rem;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: var(--principal100);
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #00000080;
    padding: 0 .5rem;
}

/* input de senha e 'esqueci minha senha' */

.password {
    display: flex;
    flex-direction: column;
}

.password a {
    color: var(--cinza100);
    margin-top: .5rem;
    padding-right: .5rem;
    font-size: .75rem;
    font-family: var(--roboto);
    font-weight: 500;
    line-height: 1rem;
}

/* botão de entrar */

.entrarButton {
    width: 24.375rem;
    height: 2.75rem;
    box-shadow: 0px 5px 6px 0px #00000040;
    border-radius: .8rem;
    background-color: var(--principal400);
    border: none;
    cursor: pointer;
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--cinza50);
    margin-bottom: 2rem;
}

.entrarButton:hover {
    background-color: var(--principal500);
}

/* botão de cadastrar */

.cadastrarButton {
    margin-top: 2rem;
    height: 2.75rem;
    width: 13.75rem;
    border: none;
    cursor: pointer;
    background-color: var(--confirmSource);
    border-radius: .8rem;
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.2rem;
    box-shadow: 0px 5px 6px 0px #00000040;
    color: var(--cinza50)
}

.cadastrarButton:hover {
    background-color: #00b44b;
}