/* main do registro */

.registerContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 59.375rem;
    margin: auto;
    padding: 6rem 0;
}

/* texto top de registro */

.registerHeader {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.registerHeader > h1 {
    font-weight: 700;
    font-family: var(--nunito);
    font-size: 3rem;
    line-height: 3.5rem;
    color: var(--cinzaBranco)
}

.registerHeader p {
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 4%;
    color: var(--cinzaBranco);
    margin-bottom: 2rem;
}