.registerContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 59.375rem;
    margin: auto;
    padding: 6rem 0;
}

.registerHeader {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.registerHeader > h1 {
    font-weight: 700;
    font-family: var(--nunito);
    font-size: 3rem;
    line-height: 3.5rem;
    color: var(--cinzaBranco)
}

.registerHeader p {
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 4%;
    color: var(--cinzaBranco);
    margin-bottom: 2rem;
}

.registerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
    width: 59.375rem;
    background-color: var(--principal800);
    box-shadow: 0px 4px 4px 0px #00000080;
    border-radius: 10px;
}

.registerBox h2 {
    font-weight: 700;
    font-family: var(--nunito);
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 4%;
    color: var(--texto50);
    margin-bottom: 2rem;
}

.registerBox > input {
    width: 32.5rem;
    height: 2.75rem;
    border-radius: .7rem;
    border: none;
    background-color: var(--principal100);
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 5%;
    color: #00000080
}

.registerBox > button {
    margin-top: 3rem;
    width: 10.625rem;
    height: 2.75rem;
    background-color: var(--principal400);
    box-shadow: 0px 5px 6px 0px #00000040;
    border-radius: .7rem;
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
    border: none;
    color: var(--cinza50);
    cursor: pointer;
}

.registerBox > button:hover {
    background-color: var(--principal500);
}