.emCartaz {
    height: 37.5rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.container {
    height: 33.375rem;
    width: 80rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container h2 {
    font-family: var(--nunito);
    font-size: 3rem;
    color: var(--cinzaBranco);
    font-weight: 700;
}

.movie {
    display: flex;
    flex-direction: column;
    gap: .7rem
}

.movies {
    display: flex;
    gap: 1.5rem;
}

.moviesContainer {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

.movie img {
    width: 14.375rem;
    height: 21.25rem;
    border-radius: .5rem;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.movie p, .linkButton {
    font-family: var(--roboto);
    font-size: 1.5rem;
    color: var(--texto50);
    font-weight: 500;
}

.movie button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--callToActionSource);
    color: var(--texto50);
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}

.movie button:hover {
    background-color: var(--callToAction500);
}

.linkContainer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.linkButton {
    text-decoration: none;
    position: relative;
}

.linkButton::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: var(--cinzaBranco);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s ease-in-out;
}

.linkButton:hover::after {
    width: 100%;
}